<%= form_for(:search, class: 'form-inline', url: sales_path, method: :get, remote: true) do |form| %>
  <div class="form-group">
    <%= form.label "Date Range" %>
    <%= form.text_field :date_range, as: :string%>
  </div>
  <%= form.submit "Search", class: 'btn btn-success' %>
<% end %>