<%= form_for(:search, class: 'form-inline', url: sales_path, method: :get) do |form| %>
  <div class="form-group">
    <%= form.label :created_at %>
    <%= form.text_field :created_at, class: 'form-control', data: { behavior: 'daterangepicker' } %>
  </div>
  <%= form.submit "Search", class: 'btn btn-success' %>
<% end %>